In [1]:
# -*- coding: utf-8 -*-
"""
Created on Thu Jul  19 15:02:01 2018

@author: kdabhadk
"""

import time

# Start timer
start = time.time()

# import required modules
import numpy as np
import pandas as pd
import codecs
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support as score


# Import data
file ='ner_dataset.csv'
with codecs.open(file, "r",encoding='utf-8', errors='ignore') as doc:
    st = doc.read()

# Set maximum number of epochs
max_epoch = 5

#Split sccording to lines

In [2]:
rel = st.splitlines() #plit that have \n in every line

#Selectively parse the first and third columns and store them in a list
#Add additional text at the beginning and end of sentences


rel # result of the split rel

['Sentence #,Word,POS,Tag',
 'Sentence: 1,Thousands,NNS,O',
 ',of,IN,O',
 ',demonstrators,NNS,O',
 ',have,VBP,O',
 ',marched,VBN,O',
 ',through,IN,O',
 ',London,NNP,B-geo',
 ',to,TO,O',
 ',protest,VB,O',
 ',the,DT,O',
 ',war,NN,O',
 ',in,IN,O',
 ',Iraq,NNP,B-geo',
 ',and,CC,O',
 ',demand,VB,O',
 ',the,DT,O',
 ',withdrawal,NN,O',
 ',of,IN,O',
 ',British,JJ,B-gpe',
 ',troops,NNS,O',
 ',from,IN,O',
 ',that,DT,O',
 ',country,NN,O',
 ',.,.,O',
 'Sentence: 2,Families,NNS,O',
 ',of,IN,O',
 ',soldiers,NNS,O',
 ',killed,VBN,O',
 ',in,IN,O',
 ',the,DT,O',
 ',conflict,NN,O',
 ',joined,VBD,O',
 ',the,DT,O',
 ',protesters,NNS,O',
 ',who,WP,O',
 ',carried,VBD,O',
 ',banners,NNS,O',
 ',with,IN,O',
 ',such,JJ,O',
 ',slogans,NNS,O',
 ',as,IN,O',
 ',"""",``,O',
 ',Bush,NNP,B-per',
 ',Number,NN,O',
 ',One,CD,O',
 ',Terrorist,NN,O',
 ',"""",``,O',
 ',and,CC,O',
 ',"""",``,O',
 ',Stop,VB,O',
 ',the,DT,O',
 ',Bombings,NNS,O',
 ',.,.,O',
 ',"""",``,O',
 'Sentence: 3,They,PRP,O',
 ',marched,VBD,O',
 ',from,IN,O',
 ',the,DT,O',
 ',Houses,NNS,O',
 ',of,IN,O',
 ',Parliament,NN,O',
 ',to,TO,O',
 ',a,DT,O',
 ',rally,NN,O',
 ',in,IN,O',
 ',Hyde,NNP,B-geo',
 ',Park,NNP,I-geo',
 ',.,.,O',
 'Sentence: 4,Police,NNS,O',
 ',put,VBD,O',
 ',the,DT,O',
 ',number,NN,O',
 ',of,IN,O',
 ',marchers,NNS,O',
 ',at,IN,O',
 ',"10,000",CD,O',
 ',while,IN,O',
 ',organizers,NNS,O',
 ',claimed,VBD,O',
 ',it,PRP,O',
 ',was,VBD,O',
 ',"1,00,000",CD,O',
 ',.,.,O',
 'Sentence: 5,The,DT,O',
 ',protest,NN,O',
 ',comes,VBZ,O',
 ',on,IN,O',
 ',the,DT,O',
 ',eve,NN,O',
 ',of,IN,O',
 ',the,DT,O',
 ',annual,JJ,O',
 ',conference,NN,O',
 ',of,IN,O',
 ',Britain,NNP,B-geo',
 ",'s,POS,O",
 ',ruling,VBG,O',
 ',Labor,NNP,B-org',
 ',Party,NNP,I-org',
 ',in,IN,O',
 ',the,DT,O',
 ',southern,JJ,O',
 ',English,JJ,B-gpe',
 ',seaside,NN,O',
 ',resort,NN,O',
 ',of,IN,O',
 ',Brighton,NNP,B-geo',
 ',.,.,O',
 'Sentence: 6,The,DT,O',
 ',party,NN,O',
 ',is,VBZ,O',
 ',divided,VBN,O',
 ',over,IN,O',
 ',Britain,NNP,B-gpe',
 ",'s,POS,O",
 ',participation,NN,O',
 ',in,IN,O',
 ',the,DT,O',
 ',Iraq,NNP,B-geo',
 ',conflict,NN,O',
 ',and,CC,O',
 ',the,DT,O',
 ',continued,JJ,O',
 ',deployment,NN,O',
 ',of,IN,O',
 ',"8,500",CD,O',
 ',British,JJ,B-gpe',
 ',troops,NNS,O',
 ',in,IN,O',
 ',that,DT,O',
 ',country,NN,O',
 ',.,.,O',
 'Sentence: 7,The,DT,O',
 ',London,NNP,B-geo',
 ',march,NN,O',
 ',came,VBD,O',
 ',ahead,RB,O',
 ',of,IN,O',
 ',anti-war,JJ,O',
 ',protests,NNS,O',
 ',today,NN,O',
 ',in,IN,O',
 ',other,JJ,O',
 ',cities,NNS,O',
 ',",",",",O',
 ',including,VBG,O',
 ',Rome,NNP,B-geo',
 ',",",",",O',
 ',Paris,NNP,B-geo',
 ',",",",",O',
 ',and,CC,O',
 ',Madrid,NNP,B-geo',
 ',.,.,O',
 'Sentence: 8,The,DT,O',
 ',International,NNP,B-org',
 ',Atomic,NNP,I-org',
 ',Energy,NNP,I-org',
 ',Agency,NNP,I-org',
 ',is,VBZ,O',
 ',to,TO,O',
 ',hold,VB,O',
 ',second,JJ,O',
 ',day,NN,O',
 ',of,IN,O',
 ',talks,NNS,O',
 ',in,IN,O',
 ',Vienna,NNP,B-geo',
 ',Wednesday,NNP,B-tim',
 ',on,IN,O',
 ',how,WRB,O',
 ',to,TO,O',
 ',respond,VB,O',
 ',to,TO,O',
 ',Iran,NNP,B-gpe',
 ",'s,POS,O",
 ',resumption,NN,O',
 ',of,IN,O',
 ',low-level,JJ,O',
 ',uranium,NN,O',
 ',conversion,NN,O',
 ',.,.,O',
 'Sentence: 9,Iran,NNP,B-gpe',
 ',this,DT,O',
 ',week,NN,O',
 ',restarted,VBD,O',
 ',parts,NNS,O',
 ',of,IN,O',
 ',the,DT,O',
 ',conversion,NN,O',
 ',process,NN,O',
 ',at,IN,O',
 ',its,PRP$,O',
 ',Isfahan,NNP,B-geo',
 ',nuclear,JJ,O',
 ',plant,NN,O',
 ',.,.,O',
 'Sentence: 10,Iranian,JJ,B-gpe',
 ',officials,NNS,O',
 ',say,VBP,O',
 ',they,PRP,O',
 ',expect,VBP,O',
 ',to,TO,O',
 ',get,VB,O',
 ',access,NN,O',
 ',to,TO,O',
 ',sealed,JJ,O',
 ',sensitive,JJ,O',
 ',parts,NNS,O',
 ',of,IN,O',
 ',the,DT,O',
 ',plant,NN,O',
 ',Wednesday,NNP,B-tim',
 ',",",",",O',
 ',after,IN,O',
 ',an,DT,O',
 ',IAEA,NNP,B-org',
 ',surveillance,NN,O',
 ',system,NN,O',
 ',begins,VBZ,O',
 ',functioning,VBG,O',
 ',.,.,O',
 'Sentence: 11,The,DT,O',
 ',step,NN,O',
 ',will,MD,O',
 ',allow,VB,O',
 ',the,DT,O',
 ',facility,NN,O',
 ',to,TO,O',
 ',operate,VB,O',
 ',at,IN,O',
 ',full,JJ,O',
 ',capacity,NN,O',
 ',.,.,O',
 'Sentence: 12,The,DT,O',
 ',European,NNP,B-org',
 ',Union,NNP,I-org',
 ',",",",",O',
 ',with,IN,O',
 ',U.S.,NNP,B-gpe',
 ',backing,NN,O',
 ',",",",",O',
 ',has,VBZ,O',
 ',threatened,VBN,O',
 ',to,TO,O',
 ',refer,VB,O',
 ',Iran,NNP,B-gpe',
 ',to,TO,O',
 ',the,DT,O',
 ',U.N.,NNP,B-org',
 ',Security,NNP,I-org',
 ',Council,NNP,I-org',
 ',",",",",O',
 ',which,WDT,O',
 ',could,MD,O',
 ',impose,VB,O',
 ',sanctions,NNS,O',
 ',if,IN,O',
 ',it,PRP,O',
 ',finds,VBZ,O',
 ',Tehran,NNP,B-gpe',
 ',has,VBZ,O',
 ',violated,VBN,O',
 ',the,DT,O',
 ',Nuclear,NNP,B-art',
 ',Non-Proliferation,NNP,I-art',
 ',treaty,NN,O',
 ',.,.,O',
 'Sentence: 13,Iran,NNP,B-gpe',
 ",'s,POS,O",
 ',new,JJ,O',
 ',President,NNP,B-per',
 ',Mahmoud,NNP,I-per',
 ',Ahmadinejad,NNP,I-per',
 ',said,VBD,O',
 ',Tuesday,NNP,B-tim',
 ',that,IN,O',
 ',European,JJ,B-gpe',
 ',incentives,NNS,O',
 ',aimed,VBN,O',
 ',at,IN,O',
 ',persuading,VBG,O',
 ',Iran,NNP,B-gpe',
 ',to,TO,O',
 ',end,VB,O',
 ',its,PRP$,O',
 ',nuclear,JJ,O',
 ',fuel,NN,O',
 ',program,NN,O',
 ',are,VBP,O',
 ',an,DT,O',
 ',insult,NN,O',
 ',to,TO,O',
 ',the,DT,O',
 ',Iranian,JJ,B-gpe',
 ',nation,NN,O',
 ',.,.,O',
 'Sentence: 14,Two,CD,O',
 ',Germans,NNS,B-gpe',
 ',and,CC,O',
 ',four,CD,O',
 ',Nigerian,JJ,B-gpe',
 ',oil,NN,O',
 ',workers,NNS,O',
 ',were,VBD,O',
 ',kidnapped,VBN,O',
 ',by,IN,O',
 ',armed,JJ,O',
 ',militants,NNS,O',
 ',during,IN,O',
 ',a,DT,O',
 ',raid,NN,O',
 ',on,IN,O',
 ',a,DT,O',
 ',boat,NN,O',
 ',in,IN,O',
 ',Nigeria,NNP,B-geo',
 ",'s,POS,O",
 ',southern,JJ,O',
 ',oil-rich,JJ,O',
 ',Delta,NNP,B-geo',
 ',region,NN,O',
 ',.,.,O',
 'Sentence: 15,An,DT,O',
 ',official,NN,O',
 ',with,IN,O',
 ',the,DT,O',
 ',German,JJ,B-gpe',
 ',firm,NN,O',
 ',Bilfinger,NNP,B-org',
 ',Berger,NNP,I-org',
 ',",",",",O',
 ',Thomas,NNP,B-per',
 ',Horbach,NNP,I-per',
 ',",",",",O',
 ',said,VBD,O',
 ',the,DT,O',
 ',gunmen,NNS,O',
 ',stopped,VBD,O',
 ',the,DT,O',
 ',supply,NN,O',
 ',boat,NN,O',
 ',Wednesday,NNP,B-tim',
 ',as,IN,O',
 ',it,PRP,O',
 ',sailed,VBD,O',
 ',from,IN,O',
 ',Delta,NNP,B-geo',
 ',State,NNP,I-geo',
 ',to,TO,O',
 ',Bayelsa,NNP,B-geo',
 ',State,NNP,I-geo',
 ',to,TO,O',
 ',inspect,VB,O',
 ',an,DT,O',
 ',offshore,JJ,O',
 ',oil,NN,O',
 ',field,NN,O',
 ',owned,VBN,O',
 ',by,IN,O',
 ',Royal-Dutch,NNP,B-org',
 ',Shell,NNP,I-org',
 ',.,.,O',
 'Sentence: 16,The,DT,O',
 ',German,JJ,B-gpe',
 ',firm,NN,O',
 ',works,VBZ,O',
 ',as,IN,O',
 ',a,DT,O',
 ',sub-contractor,NN,O',
 ',for,IN,O',
 ',Shell,NNP,B-org',
 ',.,.,O',
 'Sentence: 17,Militant,JJ,O',
 ',groups,NNS,O',
 ',frequently,RB,O',
 ',attack,VBP,O',
 ',oil,NN,O',
 ',operations,NNS,O',
 ',in,IN,O',
 ',the,DT,O',
 ',Niger,NNP,B-geo',
 ',Delta,NNP,I-geo',
 ',to,TO,O',
 ',demand,VB,O',
 ',social,JJ,O',
 ',services,NNS,O',
 ',and,CC,O',
 ',better,JJR,O',
 ',job,NN,O',
 ',opportunities,NNS,O',
 ',from,IN,O',
 ',multinational,JJ,O',
 ',companies,NNS,O',
 ',.,.,O',
 'Sentence: 18,Poor,JJ,O',
 ',residents,NNS,O',
 ',often,RB,O',
 ',complain,VBP,O',
 ',they,PRP,O',
 ',have,VBP,O',
 ',been,VBN,O',
 ',cheated,VBN,O',
 ',out,IN,O',
 ',of,IN,O',
 ',the,DT,O',
 ',huge,JJ,O',
 ',riches,NNS,O',
 ',extracted,VBN,O',
 ',from,IN,O',
 ',their,PRP$,O',
 ',tribal,JJ,O',
 ',lands,NNS,O',
 ',-,:,O',
 ',where,WRB,O',
 ',the,DT,O',
 ',bulk,NN,O',
 ',of,IN,O',
 ',Nigeria,NNP,B-gpe',
 ",'s,POS,O",
 ',2.3,CD,O',
 ',million,CD,O',
 ',barrels,NNS,O',
 ',of,IN,O',
 ',petroleum,NN,O',
 ',are,VBP,O',
 ',pumped,VBN,O',
 ',daily,RB,O',
 ',.,.,O',
 'Sentence: 19,Suspected,JJ,O',
 ',Islamist,JJ,O',
 ',rebels,NNS,O',
 ',have,VBP,O',
 ',fired,VBN,O',
 ',mortar,NN,O',
 ',shells,NNS,O',
 ',at,IN,O',
 ',the,DT,O',
 ',palace,NN,O',
 ',used,VBN,O',
 ',by,IN,O',
 ',Somalia,NNP,B-geo',
 ",'s,POS,O",
 ',interim,JJ,O',
 ',President,NNP,B-per',
 ',Abdullahi,NNP,I-per',
 ',Yusuf,NNP,I-per',
 ',Ahmad,NNP,I-per',
 ',.,.,O',
 'Sentence: 20,It,PRP,O',
 ',was,VBD,O',
 ',not,RB,O',
 ',immediately,RB,O',
 ',clear,JJ,O',
 ',if,IN,O',
 ',the,DT,O',
 ',president,NN,O',
 ',was,VBD,O',
 ',in,IN,O',
 ',the,DT,O',
 ',palace,NN,O',
 ',in,IN,O',
 ',Mogadishu,NNP,B-geo',
 ',when,WRB,O',
 ',the,DT,O',
 ',attack,NN,O',
 ',occurred,VBD,O',
 ',or,CC,O',
 ',if,IN,O',
 ',anyone,DT,O',
 ',was,VBD,O',
 ',hurt,VBN,O',
 ',.,.,O',
 'Sentence: 21,Local,JJ,O',
 ',news,NN,O',
 ',reports,NNS,O',
 ',said,VBD,O',
 ',at,IN,O',
 ',least,JJS,O',
 ',five,CD,O',
 ',mortar,NN,O',
 ',shells,NNS,O',
 ',hit,VBD,O',
 ',the,DT,O',
 ',palace,NN,O',
 ',compound,NN,O',
 ',and,CC,O',
 ',other,JJ,O',
 ',mortars,NNS,O',
 ',were,VBD,O',
 ',fired,VBN,O',
 ',elsewhere,RB,O',
 ',in,IN,O',
 ',Mogadishu,NNP,B-geo',
 ',Wednesday,NNP,B-tim',
 ',.,.,O',
 'Sentence: 22,The,DT,O',
 ',attacks,NNS,O',
 ',occurred,VBD,O',
 ',after,IN,O',
 ',the,DT,O',
 ',government,NN,O',
 ',said,VBD,O',
 ',it,PRP,O',
 ',will,MD,O',
 ',go,VB,O',
 ',ahead,RB,O',
 ',with,IN,O',
 ',a,DT,O',
 ',reconciliation,NN,O',
 ',conference,NN,O',
 ',to,TO,O',
 ',which,WDT,O',
 ',more,JJR,O',
 ',than,IN,O',
 ',"1,300",CD,O',
 ',Somali,JJ,B-gpe',
 ',elders,NNS,O',
 ',",",",",O',
 ',warlords,NNS,O',
 ',and,CC,O',
 ',politicians,NNS,O',
 ',are,VBP,O',
 ',invited,VBN,O',
 ',.,.,O',
 'Sentence: 23,Iraqi,JJ,B-gpe',
 ',military,JJ,O',
 ',officials,NNS,O',
 ',say,VBP,O',
 ',tanks,NNS,O',
 ',and,CC,O',
 ',troops,NNS,O',
 ',have,VBP,O',
 ',arrived,VBN,O',
 ',in,IN,O',
 ',the,DT,O',
 ',northern,JJ,O',
 ',city,NN,O',
 ',Mosul,NNP,B-geo',
 ',for,IN,O',
 ',a,DT,O',
 ',new,JJ,O',
 ',offensive,NN,O',
 ',against,IN,O',
 ',al,NNP,B-org',
 ',Qaida,NNP,I-org',
 ',in,IN,I-org',
 ',Iraq,NNP,I-org',
 ',fighters,NNS,O',
 ',.,.,O',
 'Sentence: 24,Officials,NNS,O',
 ',will,MD,O',
 ',not,RB,O',
 ',say,VB,O',
 ',how,WRB,O',
 ',many,JJ,O',
 ',troops,NNS,O',
 ',have,VBP,O',
 ',arrived,VBN,O',
 ',in,IN,O',
 ',the,DT,O',
 ',Sunni,NNP,B-geo',
 ',Arab,NNP,I-geo',
 ',and,CC,O',
 ',Kurdish,NNP,B-geo',
 ',city,NN,O',
 ',",",",",O',
 ',where,WRB,O',
 ',bombings,NNS,O',
 ',last,JJ,O',
 ',week,NN,O',
 ',killed,VBD,O',
 ',at,IN,O',
 ',least,JJS,O',
 ',34,CD,O',
 ',people,NNS,O',
 ',and,CC,O',
 ',wounded,VBD,O',
 ',more,JJR,O',
 ',than,IN,O',
 ',200,CD,O',
 ',.,.,O',
 'Sentence: 25,U.S.,NNP,B-gpe',
 ',commanders,NNS,O',
 ',have,VBP,O',
 ',not,RB,O',
 ',explained,VBN,O',
 ',how,WRB,O',
 ',American,JJ,B-gpe',
 ',forces,NNS,O',
 ',will,MD,O',
 ',participate,VB,O',
 ',in,IN,O',
 ',the,DT,O',
 ',offensive,NN,O',
 ',.,.,O',
 'Sentence: 26,Officials,NNS,O',
 ',say,VBP,O',
 ',al,NNP,B-org',
 ',Qaida,NNP,I-org',
 ',in,IN,I-org',
 ',Iraq,NNP,I-org',
 ',fighters,NNS,O',
 ',have,VBP,O',
 ',fled,VBN,O',
 ',successful,JJ,O',
 ',campaigns,NNS,O',
 ',against,IN,O',
 ',them,PRP,O',
 ',in,IN,O',
 ',Anbar,NNP,B-geo',
 ',province,NN,O',
 ',and,CC,O',
 ',Baghdad,NNP,B-geo',
 ',to,TO,O',
 ',other,JJ,O',
 ',northern,JJ,O',
 ',provinces,NNS,O',
 ',.,.,O',
 'Sentence: 27,Mosul,NNP,B-geo',
 ',is,VBZ,O',
 ',the,DT,O',
 ',largest,JJS,O',
 ',city,NN,O',
 ',north,NN,O',
 ',of,IN,O',
 ',Baghdad,NNP,B-geo',
 ',and,CC,O',
 ',has,VBZ,O',
 ',long,RB,O',
 ',been,VBN,O',
 ',a,DT,O',
 ',stronghold,NN,O',
 ',of,IN,O',
 ',Sunni,NNP,B-org',
 ',militant,JJ,O',
 ',fighters,NNS,O',
 ',.,.,O',
 'Sentence: 28,In,IN,O',
 ',other,JJ,O',
 ',violence,NN,O',
 ',",",",",O',
 ',U.S.,NNP,B-gpe',
 ',officials,NNS,O',
 ',said,VBD,O',
 ',one,CD,O',
 ',American,JJ,B-gpe',
 ',soldier,NN,O',
 ',was,VBD,O',
 ',killed,VBN,O',
 ',while,IN,O',
 ',on,IN,O',
 ',patrol,NN,O',
 ',in,IN,O',
 ',Baghdad,NNP,B-geo',
 ',Sunday,NNP,B-tim',
 ',.,.,O',
 'Sentence: 29,Egyptian,JJ,B-gpe',
 ',police,NNS,O',
 ',have,VBP,O',
 ',arrested,VBN,O',
 ',at,IN,O',
 ',least,JJS,O',
 ',16,CD,O',
 ',members,NNS,O',
 ',of,IN,O',
 ',the,DT,O',
 ',opposition,NN,O',
 ',Muslim,NNP,B-org',
 ',Brotherhood,NNP,I-org',
 ',as,IN,O',
 ',parts,NNS,O',
 ',of,IN,O',
 ',the,DT,O',
 ',country,NN,O',
 ',prepare,VB,O',
 ',for,IN,O',
 ',parliamentary,JJ,O',
 ',runoff,NN,O',
 ',elections,NNS,O',
 ',Saturday,NNP,B-tim',
 ',.,.,O',
 'Sentence: 30,The,DT,O',
 ',arrests,NNS,O',
 ',occurred,VBD,O',
 ',Friday,NNP,B-tim',
 ',in,IN,O',
 ',Alexandria,NNP,B-geo',
 ',.,.,O',
 'Sentence: 31,A,DT,O',
 ',spokesman,NN,O',
 ',for,IN,O',
 ',the,DT,O',
 ',Brotherhood,NNP,B-org',
 ',said,VBD,O',
 ',the,DT,O',
 ',arrests,NNS,O',
 ',are,VBP,O',
 ',an,DT,O',
 ',attempt,NN,O',
 ',to,TO,O',
 ',cut,VB,O',
 ',the,DT,O',
 ',Brotherhood,NNP,B-org',
 ',off,RB,O',
 ',from,IN,O',
 ',its,PRP$,O',
 ',supporters,NNS,O',
 ',and,CC,O',
 ',punishment,NN,O',
 ',for,IN,O',
 ',winning,VBG,O',
 ',parliamentary,JJ,O',
 ',seats,NNS,O',
 ',in,IN,O',
 ',earlier,JJR,O',
 ',elections,NNS,O',
 ',.,.,O',
 'Sentence: 32,The,DT,O',
 ',Muslim,NNP,B-org',
 ',Brotherhood,NNP,I-org',
 ',has,VBZ,O',
 ',tripled,VBN,O',
 ',its,PRP$,O',
 ',strength,NN,O',
 ',in,IN,O',
 ',parliament,NN,O',
 ',in,IN,O',
 ',recent,JJ,O',
 ',elections,NNS,O',
 ',",",",",O',
 ',raising,VBG,O',
 ',the,DT,O',
 ',party,NN,O',
 ",'s,POS,O",
 ',total,NN,O',
 ',to,TO,O',
 ',47,CD,O',
 ',seats,NNS,O',
 ',.,.,O',
 'Sentence: 33,In,IN,O',
 ',Saturday,NNP,B-tim',
 ",'s,POS,O",
 ',elections,NNS,O',
 ',",",",",O',
 ',voters,NNS,O',
 ',will,MD,O',
 ',cast,VB,O',
 ',ballots,NNS,O',
 ',in,IN,O',
 ',nine,CD,O',
 ',provinces,NNS,O',
 ',where,WRB,O',
 ',no,DT,O',
 ',candidate,NN,O',
 ',won,VBD,O',
 ',a,DT,O',
 ',majority,NN,O',
 ',in,IN,O',
 ',the,DT,O',
 ',previous,JJ,O',
 ',round,NN,O',
 ',of,IN,O',
 ',voting,NN,O',
 ',.,.,O',
 'Sentence: 34,The,DT,O',
 ',Muslim,NNP,B-org',
 ',Brotherhood,NNP,I-org',
 ',is,VBZ,O',
 ',banned,VBN,O',
 ',as,IN,O',
 ',a,DT,O',
 ',political,JJ,O',
 ',party,NN,O',
 ',",",",",O',
 ',but,CC,O',
 ',it,PRP,O',
 ',endorses,VBZ,O',
 ',so-called,JJ,O',
 ',independent,JJ,O',
 ',candidates,NNS,O',
 ',whose,WP$,O',
 ',allegiance,NN,O',
 ',to,IN,O',
 ',the,DT,O',
 ',party,NN,O',
 ',is,VBZ,O',
 ',known,VBN,O',
 ',to,TO,O',
 ',voters,NNS,O',
 ',.,.,O',
 'Sentence: 35,Hardline,JJ,O',
 ',lawmakers,NNS,O',
 ',in,IN,O',
 ',Pakistan,NNP,B-geo',
 ",'s,POS,O",
 ',North,NNP,B-geo',
 ',West,NNP,I-geo',
 ',Frontier,NNP,I-geo',
 ',Province,NNP,I-geo',
 ',have,VBP,O',
 ',pushed,VBN,O',
 ',through,IN,O',
 ',a,DT,O',
 ',law,NN,O',
 ',that,WDT,O',
 ',aims,VBZ,O',
 ',to,TO,O',
 ',ensure,VB,O',
 ',"""",``,O',
 ',Islamic,JJ,O',
 ',correctness,NN,O',
 ',"""",``,O',
 ',in,IN,O',
 ',public,JJ,O',
 ',places,NNS,O',
 ',and,CC,O',
 ',establishes,VBZ,O',
 ',a,DT,O',
 ',morality,NN,O',
 ',police,NN,O',
 ',to,TO,O',
 ',enforce,VB,O',
 ',decent,JJ,O',
 ',behavior,NN,O',
 ',.,.,O',
 'Sentence: 36,A,DT,O',
 ',six-party,JJ,O',
 ',coalition,NN,O',
 ',of,IN,O',
 ',religious,JJ,O',
 ',based,VBN,O',
 ',parties,NNS,O',
 ',",",",",O',
 ',the,DT,O',
 ',Mutahida,NNP,B-org',
 ',Majlis-e-Amal,NNP,I-org',
 ',",",",",O',
 ',dominates,VBZ,O',
 ',the,DT,O',
 ',provincial,JJ,O',
 ',assembly,NN,O',
 ',",",",",O',
 ',so,IN,O',
 ',the,DT,O',
 ',bill,NN,O',
 ',was,VBD,O',
 ',easily,RB,O',
 ',passed,VBN,O',
 ',Thursday,NNP,B-tim',
 ',by,IN,O',
 ',a,DT,O',
 ',vote,NN,O',
 ',of,IN,O',
 ',68-34,CD,O',
 ',.,.,O',
 'Sentence: 37,The,DT,O',
 ',provincial,JJ,O',
 ',governor,NN,O',
 ',must,MD,O',
 ',still,RB,O',
 ',sign,VB,O',
 ',the,DT,O',
 ',bill,NN,O',
 ',before,IN,O',
 ',it,PRP,O',
 ',becomes,VBZ,O',
 ',law,NN,O',
 ',",",",",O',
 ',a,DT,O',
 ',step,NN,O',
 ',seen,VBN,O',
 ',only,RB,O',
 ',as,IN,O',
 ',a,DT,O',
 ',formality,NN,O',
 ',.,.,O',
 'Sentence: 38,The,DT,O',
 ',proposed,JJ,O',
 ',law,NN,O',
 ',calls,VBZ,O',
 ',for,IN,O',
 ',setting,VBG,O',
 ',up,RP,O',
 ',a,DT,O',
 ',"""",``,O',
 ',religious,JJ,O',
 ',police,NN,O',
 ',force,NN,O',
 ',"""",``,O',
 ',to,TO,O',
 ',make,VB,O',
 ',sure,JJ,O',
 ',people,NNS,O',
 ',adhere,VBP,O',
 ',to,TO,O',
 ',Islamic,JJ,O',
 ',values,NNS,O',
 ',in,IN,O',
 ',public,JJ,O',
 ',places,NNS,O',
 ',",",",",O',
 ',and,CC,O',
 ',entertainment,NN,O',
 ',outlets,NNS,O',
 ',close,RB,O',
 ',during,IN,O',
 ',weekly,JJ,O',
 ',Friday,NNP,B-tim',
 ',prayers,NNS,O',
 ',.,.,O',
 'Sentence: 39,Violators,NNS,O',
 ',could,MD,O',
 ',be,VB,O',
 ',jailed,VBN,O',
 ',for,IN,O',
 ',up,RB,O',
 ',to,TO,O',
 ',six,CD,O',
 ',months,NNS,O',
 ',.,.,O',
 'Sentence: 40,The,DT,O',
 ',opposition,NN,O',
 ',has,VBZ,O',
 ',denounced,VBN,O',
 ',the,DT,O',
 ',measure,NN,O',
 ',",",",",O',
 ',comparing,VBG,O',
 ',it,PRP,O',
 ',to,TO,O',
 ',the,DT,O',
 ',draconian,JJ,O',
 ',rule,NN,O',
 ',of,IN,O',
 ',the,DT,O',
 ',former,JJ,O',
 ',Taleban,NNP,B-org',
 ',in,IN,O',
 ',neighboring,VBG,O',
 ',Afghanistan,NNP,B-geo',
 ',.,.,O',
 'Sentence: 41,British,JJ,B-gpe',
 ',police,NNS,O',
 ',say,VBP,O',
 ',they,PRP,O',
 ',have,VBP,O',
 ',arrested,VBN,O',
 ',a,DT,O',
 ',man,NN,O',
 ',who,WP,O',
 ',dressed,VBD,O',
 ',as,IN,O',
 ',suicide,NN,O',
 ',bomber,NN,O',
 ',at,IN,O',
 ',a,DT,O',
 ',demonstration,NN,O',
 ',against,IN,O',
 ',the,DT,O',
 ',publication,NN,O',
 ',of,IN,O',
 ',cartoons,NNS,O',
 ',depicting,VBG,O',
 ',Islam,NNP,B-org',
 ",'s,POS,O",
 ',Prophet,NNP,B-per',
 ',Muhammad,NNP,I-per',
 ',.,.,O',
 'Sentence: 42,Bedfordshire,NNP,B-gpe',
 ',police,NNS,O',
 ',said,VBD,O',
 ',Tuesday,NNP,B-tim',
 ',that,IN,O',
 ',Omar,NNP,B-per',
 ',Khayam,NNP,I-per',
 ',was,VBD,O',
 ',arrested,VBN,O',
 ',in,IN,O',
 ',Bedford,NNP,B-geo',
 ',for,IN,O',
 ',breaching,VBG,O',
 ',the,DT,O',
 ',conditions,NNS,O',
 ',of,IN,O',
 ',his,PRP$,O',
 ',parole,NN,O',
 ',.,.,O',
 'Sentence: 43,Police,NNS,O',
 ',said,VBD,O',
 ',the,DT,O',
 ',British,NNP,B-org',
 ',Home,NNP,I-org',
 ',Office,NNP,I-org',
 ',sought,VBD,O',
 ',an,DT,O',
 ',investigation,NN,O',
 ',of,IN,O',
 ',Khayam,NNP,B-per',
 ",'s,POS,O",
 ...]

In [3]:
import numpy as np
import pandas as pd
list_=[]
for i,datapoint in enumerate(rel[1:]):#(rel[1:]) because 0 is table desc
    text = datapoint.split(sep=',')#create list and record as eos
    if len(text) == 4:
        if text[0][0:8]=='Sentence':
            list_.append(['EOS','EOS'])
            list_.append(['BOS','BOS'])
        list_.append([text[1],text[3]])

# my_array = np.array([[11, 22, 33], [44, 55, 66]])

df = pd.DataFrame(list_)

df

                     0    1
0                  EOS  EOS
1                  BOS  BOS
2            Thousands    O
3                   of    O
4        demonstrators    O
...                ...  ...
1110210           they    O
1110211      responded    O
1110212             to    O
1110213            the    O
1110214         attack    O

[1110215 rows x 2 columns]

In [4]:
#Store all the data in the numpy object all_data
#Cover all characters to lower case
all_data = np.char.lower(list_)

#Split training as the first 80% of all data
train = all_data[0:int(0.8*len(list_))]

# validation fraction is 10%
valid = all_data[int(0.8*len(list_)):int(0.9*len(list_))]

# Test fraction is 10%
test = all_data[int(0.9*len(list_)):int(len(list_))]

In [5]:
all_data

import numpy as np
import pandas as pd


df = pd.DataFrame(all_data)

df

                     0    1
0                  eos  eos
1                  bos  bos
2            thousands    o
3                   of    o
4        demonstrators    o
...                ...  ...
1110210           they    o
1110211      responded    o
1110212             to    o
1110213            the    o
1110214         attack    o

[1110215 rows x 2 columns]

In [6]:
# Making feature matrices for trainng, testing and validation
X=np.char.lower(train[:,0])
Xvalid=np.char.lower(valid[:,0])
Xtest=np.char.lower(test[:,0])

In [7]:
# my_array = np.array([[11, 22, 33], [44, 55, 66]])

df = pd.DataFrame(X)

df

                    0
0                 eos
1                 bos
2           thousands
3                  of
4       demonstrators
...               ...
888167              $
888168             40
888169              .
888170            eos
888171            bos

[888172 rows x 1 columns]

In [8]:
# Generate class vectors
class_=train[:,-1]
class_valid=valid[:,-1]
class_test=test[:,-1]

In [9]:
import numpy as np
import pandas as pd

# my_array = np.array([[11, 22, 33], [44, 55, 66]])

df = pd.DataFrame(class_)

df

          0
0       eos
1       bos
2         o
3         o
4         o
...     ...
888167    o
888168    o
888169    o
888170  eos
888171  bos

[888172 rows x 1 columns]

In [10]:
import numpy as np
import pandas as pd

#Unique train labels
uniq_class=np.unique(all_data[:,-1])

In [11]:
df = pd.DataFrame(uniq_class)

df

        0
0   b-art
1   b-eve
2   b-geo
3   b-gpe
4   b-nat
5   b-org
6   b-per
7   b-tim
8     bos
9     eos
10  i-art
11  i-eve
12  i-geo
13  i-gpe
14  i-nat
15  i-org
16  i-per
17  i-tim
18      o

In [12]:
#Get unique words
words=np.unique(all_data[:,0])

#Define numbers
M=len(words) + 1 #Number of rows of feature matrix for training
K=len(uniq_class) #Number of columns of feature matrix for training
N=len(class_) #Length of class vector for training
Ntest=len(Xtest) #Length of class vector for testing
Nvalid=len(Xvalid) #Length of class vector for validation

In [13]:
df = pd.DataFrame(words)

df

                 0
0
1                !
2             """"
3                #
4           #name?
...            ...
31475  zvyagintsev
31476       zwally
31477   zwelinzima
31478     zyazikov
31479       zydeco

[31480 rows x 1 columns]

In [14]:
M, K, N, Ntest, Nvalid

(31481, 19, 888172, 111022, 111021)

In [15]:
train

array([['eos', 'eos'],
       ['bos', 'bos'],
       ['thousands', 'o'],
       ...,
       ['.', 'o'],
       ['eos', 'eos'],
       ['bos', 'bos']], dtype='<U64')

In [16]:
def generate(trainmodify):
    '''
    Function to generate the required sequential feature matrix.
    
    Parameters
    ----------
    trainmodify: List of data that has to be converted.
    
    Returns
    ----------
    Xttrans: Transformed array of data
    label: List of correspondong labels
    '''
    Xttrans=[]
    label=[]

    for i in range(1,len(trainmodify)-1):
        ap=[]
#         print(i)
        firstword=trainmodify[i-1,0]
        wordmid=trainmodify[i,0]
        thirdword=trainmodify[i+1,0]
        '''print([firstword,wordmid,thirdword])'''
        if wordmid != 'eos':
            if wordmid != 'bos':
                ap.append(words.tolist().index(firstword))
                ap.append(M-1+words.tolist().index(wordmid))
                ap.append(2*M-2+words.tolist().index(thirdword))
                '''print([words.tolist().index(firstword), 
                      (M-1+words.tolist().index(wordmid)),
                      (2*M-2+words.tolist().index(thirdword))
                      ])'''
                label.append(uniq_class.tolist().index(trainmodify[i,1]))
        if len(ap) != 0:
            Xttrans.append(ap)
    return Xttrans,label

In [17]:
# Numerical array for training
Xttrans,train_labels=generate(train)

# Numerical array for valiation
Xvtrans,valid_labels=generate(valid)

# Numerical array for test
Xtesttrans,test_labels=generate(test)

In [18]:
df = pd.DataFrame(Xttrans)

df

            0      1      2
0        5202  59947  83238
1       28467  51758  71546
2       20278  40066  76418
3        8586  44938  80730
4       13458  49250  91484
...       ...    ...    ...
811459   1713  53030  83238
811460  21550  51758  62965
811461  20278  31485  64093
811462      5  32613  62984
811463   1133  31504  73332

[811464 rows x 3 columns]

In [19]:
df = pd.DataFrame(train_labels)

df

         0
0       18
1       18
2       18
3       18
4       18
...     ..
811459  18
811460  18
811461  18
811462  18
811463  18

[811464 rows x 1 columns]

In [20]:
# Define the indicator function required in training
def Indi (a , b):
    '''
    Returns 1 if a=b, else returns 0.

    Parametes
    ----------
    a,b : Objects

    Returns
    ----------
    Boolean, depending on similarity of objects a and b.
    '''
    if a == b :
        return 1
    else :
        return 0

In [21]:
def SGD(Xttrans,train_labels,theta_init,max_epoch):
    
    '''
    Stochastic Gradient Descent (SGD) for training parameter matrix
    using negative log likelihood as the error metric.

    Parameters:
    ----------
    1. Xttrans: (np.matrix) Numerical feature matrix for training.
    2. train_labels: (list) List of class labels of the training data.
    3. theta_init: (np.matrix) Initialization of parameter matrix.
    4. max_epoch: (int) Number of epochs.

    Returns:
    ----------
    1. theta: (np.matrix) Trained parameter matrix.
    2. grad: (np.matrix) Matrix of gradient of negative log likelihood with
                respect to the parameter matrix theta.
    3. nlltrain: (list) List of negative log likelihood on the training data after every epoch.
    4. nllvalid: (list) List of negative log likelihood on the validation data after every epoch.
    '''
    
    # Initialize all result parameters
    theta = theta_init
    nllvalid = []
    nlltrain = []
    epoch = 0
    
    #SGD loop
    while epoch < max_epoch:
     
        #Set negative log likelihood to zero before every epoch
        nll=0
        
        #Initialize gradient matrix to matrix of zeros
        grad = np.matrix(np.zeros([3*M-2,K]))

        
        for i,example in enumerate(Xttrans): #Over N
            denom=0
            for z in range(K):
                term=0
                for exam in example:
                    term=term+(theta[exam,z])
                denom = denom + np.exp(term + theta [-1,z])

            for j,k in enumerate(range(K)): #Over K
                term2 = 0
                for exam in example:
                    term2=term2+(theta[exam,k])
                term2=term2+theta[-1,k]
                num=np.exp(term2)
                I=Indi(train_labels[i],k)
                ans=-(I - num/denom)
                for exam in example:
                    grad[exam,k] = ans
                grad[-1,k] = ans

            for exam in example:
                theta[exam] = theta[exam] - 0.5 * grad[exam]
            theta[-1,:] = theta[-1,:] - 0.5 * grad[-1,:]
            theta_init=theta
            
       

        nll=0
    
        for i,example in enumerate(Xttrans):
            denom=0
            num=0
            for z in range(K):
                term=0
                for exam in example:
                    term=term+(theta[exam,z])
                denom = denom + np.exp(term + theta [-1,z])

            for j,k in enumerate(range(K)):
                term2 = 0
                for exam in example:
                    term2=term2+(theta[exam,k])
                term2=term2+theta[-1,k]
                num=np.exp(term2)
                nll=nll-Indi(train_labels[i],k)/N*np.log(num/denom)
        nlltrain.append(nll)
        

        
        # Keep track of negative log likelihood on validation data
        nll=0
        for i,example in enumerate(Xvtrans):
            denom=0
            num=0
            for z in range(K):
                term=0
                for exam in example:
                    term=term+(theta[exam,z])
                denom = denom + np.exp(term + theta [-1,z])

            for j,k in enumerate(range(K)):
                term2 = 0
                for exam in example:
                    term2=term2+(theta[exam,k])
                term2=term2+theta[-1,k]
                num=np.exp(term2)
                nll=nll-Indi(valid_labels[i],k)/Nvalid*np.log(num/denom)
        nllvalid.append(nll)
        epoch = epoch + 1
        print ('Completed epoch: {}'.format(epoch))
    return theta,grad,nlltrain,nllvalid

In [22]:
M, K, N, Ntest, Nvalid

(31481, 19, 888172, 111022, 111021)

In [23]:
3*M-2

94441

In [24]:
np.matrix(np.zeros([3*M-2,K]))

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [25]:
theta_init=np.matrix(np.zeros([3*M-2,K]))
'''

'''

'\n\n'

In [26]:
df = pd.DataFrame(theta_init)

df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94436,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94437,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
theta,grad,nlltrain,nllvalid=SGD(Xttrans,train_labels,theta_init,max_epoch)

Completed epoch: 1
Completed epoch: 2
Completed epoch: 3
Completed epoch: 4
Completed epoch: 5

In [28]:
theta,grad,nlltrain,nllvalid

(matrix([[-2.11841362e-02, -5.58513719e-03, -2.04018768e-01, ...,
          -3.54753008e-01,  2.31760578e+00, -1.10220747e+00],
         [-9.58532270e-04, -1.26721827e-03, -2.65606638e-02, ...,
          -2.33300288e-01, -1.93804466e-02,  5.38618847e-01],
         [ 3.47157590e+00,  2.25688987e+00,  4.30805365e-01, ...,
          -1.17587427e+00,  8.66130398e-01,  5.47431202e-01],
         ...,
         [-1.91363028e-04, -1.70226476e-04, -9.29498650e-03, ...,
           2.26438925e-01, -1.28326735e-03, -1.92841459e-01],
         [-3.07632966e-04, -1.98628312e-04, -1.03707546e-03, ...,
          -1.99558257e-03, -1.47899779e-04,  4.69296650e-02],
         [-4.91692125e-01, -1.86121242e+00,  1.44165629e+00, ...,
           2.97239985e+00,  1.89497603e-01,  7.40443450e+00]]),
 matrix([[ 2.64374159e-04,  4.10377916e-04,  4.23349774e-02, ...,
           3.31494576e-02,  8.11559192e-02, -2.89018525e-01],
         [ 2.42734110e-05,  4.59156360e-05,  7.31658130e-04, ...,
           3.21264968e-03,  4.65844156e-05, -6.69188064e-03],
         [ 2.89712982e-02,  2.66182521e-03,  5.20326955e-02, ...,
           2.46102415e-03,  1.60992852e-02, -1.85877441e-01],
         ...,
         [ 7.73838818e-06,  6.23591814e-06,  8.06637758e-04, ...,
          -1.08575237e-02,  7.45751830e-06,  8.97414324e-03],
         [ 7.10354605e-05,  3.59564460e-05,  1.79911178e-04, ...,
           2.78173681e-04,  1.07929851e-05, -1.61273254e-02],
         [ 2.96723622e-09,  1.34609539e-09,  1.68774517e-08, ...,
           4.59554588e-08,  9.98149498e-09, -2.76017820e-07]]),
 [0.1772276943941971,
  0.14270379826953994,
  0.12496168059976494,
  0.11398916836302686,
  0.10654668646533877],
 [0.20821667423347828,
  0.18832407320231967,
  0.1801208410473249,
  0.17602971322526048,
  0.17384888307235283])

In [29]:
df = pd.DataFrame(theta)

df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-0.021184,-0.005585,-0.204019,-0.055524,-0.228294,0.487225,-0.245225,-0.034264,-0.000132,-0.000132,-0.022213,-0.010084,-0.243351,-0.003363,-0.003375,-0.271125,-0.354753,2.317606,-1.102207
1,-0.000959,-0.001267,-0.026561,-0.004998,-0.000511,-0.042879,-0.017806,-0.004342,-0.000020,-0.000020,-0.003097,-0.001372,-0.031964,-0.000674,-0.000318,-0.149150,-0.233300,-0.019380,0.538619
2,3.471576,2.256890,0.430805,-0.325253,-0.336730,1.152964,0.881326,-1.226218,-0.028226,-0.028226,-1.735202,-1.372822,-1.570513,-0.485047,-0.228833,-1.094179,-1.175874,0.866130,0.547431
3,-0.000943,-0.003135,-0.002064,-0.004377,-0.000321,-0.012867,-0.014678,-0.007818,-0.000014,-0.000014,-0.001297,-0.001172,-0.001881,-0.000243,-0.000135,-0.014088,-0.027984,-0.006887,0.099917
4,-0.000281,-0.000101,-0.000889,-0.000360,-0.000018,-0.000218,-0.000959,-0.000273,-0.000001,-0.000001,-0.000134,-0.000027,-0.008870,-0.000075,-0.000011,-0.000723,-0.014847,-0.000040,0.027829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94436,-0.003349,-0.010201,-0.019241,-0.039666,-0.003508,-0.064219,0.964911,-0.014591,-0.000081,-0.000081,-0.002214,-0.015106,-0.014876,-0.002089,-0.001483,-0.203133,-0.103464,-0.006536,-0.461075
94437,-0.000292,-0.000359,-0.000805,-0.000187,-0.000052,-0.001655,-1.056777,-0.000309,-0.000003,-0.000003,-0.000516,-0.000654,-0.000110,-0.000204,-0.000043,-0.032223,-0.223237,-0.000065,1.317494
94438,-0.000191,-0.000170,-0.009295,-0.000650,-0.000454,-0.005220,-0.007029,-0.004831,-0.000012,-0.000012,-0.000194,-0.000145,-0.003066,-0.000078,-0.000060,-0.000909,0.226439,-0.001283,-0.192841
94439,-0.000308,-0.000199,-0.001037,-0.001226,-0.000054,-0.017721,-0.020163,-0.001202,-0.000002,-0.000002,-0.000564,-0.000148,-0.000496,-0.000111,-0.000025,-0.001529,-0.001996,-0.000148,0.046930
94440,-0.491692,-1.861212,1.441656,1.236398,-2.494016,1.785751,2.587673,0.787262,-5.831794,-5.831794,-0.118523,-1.254349,1.681176,-1.811316,-2.543333,2.151781,2.972400,0.189498,7.404434

In [30]:
df = pd.DataFrame(grad)

df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,2.643742e-04,4.103779e-04,4.233498e-02,2.502320e-03,1.305837e-02,1.493617e-02,1.251706e-02,4.652933e-03,9.359495e-06,9.359495e-06,2.779510e-03,1.488334e-03,5.128405e-02,5.438890e-04,9.283276e-04,2.699374e-02,3.314946e-02,8.115592e-02,-2.890185e-01
1,2.427341e-05,4.591564e-05,7.316581e-04,1.666994e-04,5.899519e-06,4.731500e-04,9.667355e-04,1.049865e-04,2.558399e-07,2.558399e-07,2.642328e-04,4.408922e-05,4.525031e-05,8.238377e-06,8.148644e-06,5.428575e-04,3.212650e-03,4.658442e-05,-6.691881e-03
2,2.897130e-02,2.661825e-03,5.203270e-02,2.813814e-03,1.143951e-04,1.356308e-02,1.304611e-02,1.616529e-03,5.876251e-06,5.876251e-06,2.558297e-04,1.229821e-04,9.056157e-03,1.598567e-03,1.256254e-04,4.132647e-02,2.461024e-03,1.609929e-02,-1.858774e-01
3,1.580835e-05,4.142213e-05,2.953389e-05,6.384629e-05,5.862222e-06,6.064654e-04,2.380547e-04,1.240606e-04,1.166554e-07,1.166554e-07,3.143695e-05,1.919470e-05,3.256448e-05,3.435416e-06,3.278872e-06,1.645132e-04,6.002952e-04,3.148212e-05,-2.011488e-03
4,6.693537e-05,2.418054e-05,1.151106e-04,9.193281e-05,2.619486e-06,3.753212e-05,3.598779e-05,4.944413e-05,9.329517e-08,9.329517e-08,1.618425e-05,3.330870e-06,1.561621e-03,7.355285e-06,2.300281e-06,1.658731e-04,1.236868e-03,5.464559e-06,-3.422927e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94436,3.727839e-04,9.758972e-04,2.766812e-03,6.325523e-03,6.826099e-04,1.292392e-02,-1.141917e-01,1.171048e-03,4.707141e-06,4.707141e-06,4.925250e-04,1.567344e-03,2.337077e-03,3.653538e-04,3.402509e-04,2.237656e-02,2.483880e-02,4.099948e-04,3.623583e-02
94437,5.350324e-05,4.783073e-05,2.304253e-04,3.323987e-05,8.689276e-06,5.522971e-04,1.598075e-01,4.060821e-05,3.482221e-07,3.482221e-07,7.597228e-05,9.264964e-05,1.103296e-05,1.756584e-05,9.050745e-06,1.386411e-02,8.063359e-02,4.218749e-06,-2.554830e-01
94438,7.738388e-06,6.235918e-06,8.066378e-04,1.789312e-05,1.589186e-05,5.792028e-04,2.506189e-04,1.424685e-04,9.170851e-08,9.170851e-08,1.160544e-05,6.246587e-06,1.908899e-05,3.236513e-06,4.268097e-06,4.606695e-06,-1.085752e-02,7.457518e-06,8.974143e-03
94439,7.103546e-05,3.595645e-05,1.799112e-04,1.684968e-04,8.017644e-06,8.747263e-03,5.845441e-03,2.585459e-04,2.582017e-07,2.582017e-07,1.140356e-04,2.491834e-05,5.553400e-05,1.670030e-05,6.436928e-06,3.055503e-04,2.781737e-04,1.079299e-05,-1.612733e-02
94440,2.967236e-09,1.346095e-09,1.687745e-08,9.764483e-09,5.808156e-10,1.241549e-07,1.392995e-08,9.311508e-10,2.298085e-11,2.298085e-11,2.005928e-08,1.450814e-09,1.893682e-08,1.088330e-09,5.916913e-10,7.355838e-09,4.595546e-08,9.981495e-09,-2.760178e-07

In [31]:
df = pd.DataFrame(nlltrain)

df

          0
0  0.177228
1  0.142704
2  0.124962
3  0.113989
4  0.106547

In [32]:
df = pd.DataFrame(nllvalid)

df

          0
0  0.208217
1  0.188324
2  0.180121
3  0.176030
4  0.173849

In [33]:
# Train predictions
predtrain=[]
errtrain = 0
for i,example in enumerate(Xttrans):
    num=[]
    for j,k in enumerate(range(K)): #Over K
        term=0
        for exam in example:
            term = term + theta[exam,k]
        num.append(term+theta[-1,k])
    predtrain.append(np.argmax(num))
    if predtrain[i] != train_labels[i]:
        errtrain= errtrain + 1

In [34]:
K,theta

(19,
 matrix([[-2.11841362e-02, -5.58513719e-03, -2.04018768e-01, ...,
          -3.54753008e-01,  2.31760578e+00, -1.10220747e+00],
         [-9.58532270e-04, -1.26721827e-03, -2.65606638e-02, ...,
          -2.33300288e-01, -1.93804466e-02,  5.38618847e-01],
         [ 3.47157590e+00,  2.25688987e+00,  4.30805365e-01, ...,
          -1.17587427e+00,  8.66130398e-01,  5.47431202e-01],
         ...,
         [-1.91363028e-04, -1.70226476e-04, -9.29498650e-03, ...,
           2.26438925e-01, -1.28326735e-03, -1.92841459e-01],
         [-3.07632966e-04, -1.98628312e-04, -1.03707546e-03, ...,
          -1.99558257e-03, -1.47899779e-04,  4.69296650e-02],
         [-4.91692125e-01, -1.86121242e+00,  1.44165629e+00, ...,
           2.97239985e+00,  1.89497603e-01,  7.40443450e+00]]))

In [35]:
len(theta[0]),

(1,)

In [36]:
term = 0

try1 = Xttrans[0]

print(try1)

num = []
for j,k in enumerate(range(K)): #Over K
    term = 0 
    
    for exam in try1: 
        term = term + theta[exam, k]
        print(k)
        print("\n")
        print(exam)
        print(theta[exam, k])
        print(term+theta[-1,k])
        print("\n")
    num.append(term+theta[-1,k])
num

[5202, 59947, 83238]
0


5202
2.9276305258687887
2.4359384007226663


0


59947
-0.06018878454557485
2.3757496161770915


0


83238
-0.6190526262345274
1.756696989942564


1


5202
1.595847470562573
-0.26536494854161186


1


59947
-0.04081283164683931
-0.3061777801884511


1


83238
-0.007350478822875382
-0.3135282590113264


2


5202
3.295283786167239
4.736940074715742


2


59947
-1.0127450580965986
3.7241950166191424


2


83238
-0.2150243372704479
3.5091706793486948


3


5202
3.5335193353063055
4.7699176988889525


3


59947
-0.2074570210256767
4.562460677863276


3


83238
-0.460583907499039
4.101876770364237


4


5202
2.404094102204385
-0.08992181235820906


4


59947
-0.0351301062230162
-0.12505191858122533


4


83238
-1.3199483957389926
-1.445000314320218


5


5202
2.9170468170156862
4.702797374320581


5


59947
-1.2953766861710132
3.4074206881495677


5


83238
1.2434980318913256
4.6509187200408935


6


5202
4.217963063248173
6.805636059919353


6


59947
-0.6355003246771378
6.170135735242216


6


83238
-2.018255225828862
4.151880509413353


7


5202
2.13035723546614
2.9176192613010956


7


59947
-0.27531603908859337
2.6423032222125027


7


83238
0.9385108921619068
3.5808141143744088


8


5202
-0.18338138050292643
-6.015175021218356


8


59947
-0.026873826630322277
-6.042048847848678


8


83238
-0.1178241789257082
-6.159873026774386


9


5202
-0.18338138050292643
-6.015175021218356


9


59947
-0.026873826630322277
-6.042048847848678


9


83238
-0.1178241789257082
-6.159873026774386


10


5202
-2.0951340334409894
-2.2136570870860086


10


59947
-0.05806539857624866
-2.271722485662257


10


83238
0.6690776132678169
-1.60264487239444


11


5202
-1.6241799755252253
-2.878528556729213


11


59947
-0.04049451823801016
-2.9190230749672237


11


83238
-0.39617891404845795
-3.315201989015682


12


5202
-4.576566167167428
-2.895390219366429


12


59947
2.1223779624537977
-0.7730122569126314


12


83238
-0.5917243467534244
-1.3647366036660558


13


5202
-1.2239974237834979
-3.0353139171738674


13


59947
-0.03727316712527039
-3.072587084299138


13


83238
-0.09213888476236022
-3.1647259690614984


14


5202
-0.5930679300617796
-3.1364013568077893


14


59947
-0.029093980851579035
-3.1654953376593684


14


83238
-0.5610852688746026
-3.726580606533971


15


5202
-5.717144183513536
-3.565363018273996


15


59947
-0.8246633804261395
-4.390026398700136


15


83238
-0.18967929369336436
-4.5797056923935004


16


5202
-6.113402023326965
-3.1410021735226548


16


59947
-0.5765341550177281
-3.717536328540383


16


83238
0.5821683958340259
-3.1353679327063566


17


5202
-3.3008209265589197
-3.1113233238386684


17


59947
-0.740723459151576
-3.8520467829902443


17


83238
2.1237567737491307
-1.7282900092411135


18


5202
2.5893330885454287
9.993767586267616


18


59947
3.800744601667847
13.794512187935464


18


83238
1.1496583304741683
14.944170518409631

[1.756696989942564,
 -0.3135282590113264,
 3.5091706793486948,
 4.101876770364237,
 -1.445000314320218,
 4.6509187200408935,
 4.151880509413353,
 3.5808141143744088,
 -6.159873026774386,
 -6.159873026774386,
 -1.60264487239444,
 -3.315201989015682,
 -1.3647366036660558,
 -3.1647259690614984,
 -3.726580606533971,
 -4.5797056923935004,
 -3.1353679327063566,
 -1.7282900092411135,
 14.944170518409631]

In [37]:
df = pd.DataFrame(predtrain)

df

         0
0       18
1       18
2       18
3       18
4       18
...     ..
811459  18
811460  18
811461  18
811462  18
811463  18

[811464 rows x 1 columns]

In [38]:
errtrain

31225

In [39]:
# Test predictions
predtest=[]
errtest = 0
for i,example in enumerate(Xtesttrans):
    num=[]
    for j,k in enumerate(range(K)): #Over K
        term=0
        for exam in example:
            term = term + theta[exam,k]
        num.append(term+theta[-1,k])
    predtest.append(np.argmax(num))
    if predtest[i] != test_labels[i]:
        errtest = errtest + 1

In [40]:
df = pd.DataFrame(predtest)

df

         0
0        3
1       18
2       18
3       18
4        7
...     ..
101357  18
101358  18
101359  18
101360  18
101361  18

[101362 rows x 1 columns]

In [41]:
print (errtrain/N,' and ',errtest/Ntest)

# Calculate error metrics
precision, recall, fscore, class_count = score(test_labels, predtest, labels=np.unique(test_labels))

0.03515647870007161  and  0.04809857505719587

In [42]:
print ('Confusion matrix:')

df = pd.DataFrame(confusion_matrix(test_labels, predtest, labels=np.unique(test_labels)))

df

Confusion matrix:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,4,0,4,2,0,7,0,1,0,0,0,0,0,1,0,0,24
1,0,8,0,3,0,2,0,1,0,0,0,0,0,0,0,1,12
2,1,0,2906,42,0,118,24,28,0,0,113,0,0,8,19,5,486
3,1,0,46,1582,0,3,2,0,0,0,3,0,0,0,1,2,29
4,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0,1,9
5,6,0,259,26,0,1084,42,11,0,1,11,0,0,19,30,2,644
6,1,0,32,2,0,43,1072,3,0,0,2,0,0,11,55,2,449
7,0,0,26,0,0,2,0,1676,0,0,0,0,0,0,0,32,331
8,0,1,0,0,0,0,0,0,1,0,2,0,0,4,1,0,13
9,0,1,0,0,0,0,0,0,0,2,0,0,0,2,0,0,20
10,0,0,21,1,0,2,2,0,0,0,505,0,0,24,19,0,109
11,0,0,0,4,0,1,0,0,0,0,3,23,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,3
13,0,0,28,4,0,33,19,1,1,2,71,0,0,688,56,6,840
14,0,0,1,1,0,18,69,0,1,0,29,0,0,42,1286,0,259
15,0,0,7,0,0,0,2,67,0,0,1,0,0,1,1,383,167
16,0,0,24,12,0,66,30,54,1,0,27,0,0,75,9,40,84796

In [43]:
print ('F1-Scores:')
print (fscore)
print ('\n Classification metrics: \n')
for i in range(np.unique(test_labels).shape[0]):
    print (uniq_class[i])
    print ('\tprecision: ' + '{0:.5f}'.format(precision[i]))
    print ('\trecall: ' + '{0:.5f}'.format(recall[i]))
    print ('\tfscore: ' + '{0:.5f}'.format(fscore[i]))
    print ('\tTotal datapoints under this class: {}'.format(class_count[i]))

print ('\nAverage F1 MACRO: {0:.5f}'.format(np.sum(np.array(class_count)*np.array(fscore))/sum(class_count)))

end = time.time()

print ('Total run time:{}'.format(end-start))

F1-Scores:
[0.14285714 0.43243243 0.81813063 0.94504182 0.5        0.61696073
 0.73074301 0.85750831 0.07692308 0.13333333 0.69655172 0.83636364
 0.4        0.52439024 0.80804273 0.69446963 0.97845678]

 Classification metrics:

b-art
	precision: 0.30769
	recall: 0.09302
	fscore: 0.14286
	Total datapoints under this class: 43
b-eve
	precision: 0.80000
	recall: 0.29630
	fscore: 0.43243
	Total datapoints under this class: 27
b-geo
	precision: 0.86643
	recall: 0.77493
	fscore: 0.81813
	Total datapoints under this class: 3750
b-gpe
	precision: 0.94223
	recall: 0.94787
	fscore: 0.94504
	Total datapoints under this class: 1669
b-nat
	precision: 1.00000
	recall: 0.33333
	fscore: 0.50000
	Total datapoints under this class: 15
b-org
	precision: 0.78608
	recall: 0.50773
	fscore: 0.61696
	Total datapoints under this class: 2135
b-per
	precision: 0.84945
	recall: 0.64115
	fscore: 0.73074
	Total datapoints under this class: 1672
b-tim
	precision: 0.90988
	recall: 0.81084
	fscore: 0.85751
	Total datapoints under this class: 2067
bos
	precision: 0.25000
	recall: 0.04545
	fscore: 0.07692
	Total datapoints under this class: 22
eos
	precision: 0.40000
	recall: 0.08000
	fscore: 0.13333
	Total datapoints under this class: 25
i-art
	precision: 0.65841
	recall: 0.73939
	fscore: 0.69655
	Total datapoints under this class: 683
i-eve
	precision: 1.00000
	recall: 0.71875
	fscore: 0.83636
	Total datapoints under this class: 32
i-geo
	precision: 1.00000
	recall: 0.25000
	fscore: 0.40000
	Total datapoints under this class: 4
i-gpe
	precision: 0.78629
	recall: 0.39337
	fscore: 0.52439
	Total datapoints under this class: 1749
i-nat
	precision: 0.87068
	recall: 0.75381
	fscore: 0.80804
	Total datapoints under this class: 1706
i-org
	precision: 0.80802
	recall: 0.60890
	fscore: 0.69447
	Total datapoints under this class: 629
i-per
	precision: 0.96149
	recall: 0.99603
	fscore: 0.97846
	Total datapoints under this class: 85134

Average F1 MACRO: 0.94240
Total run time:9474.707794427872